body { margin: 0;
position: relative;}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;

}
.content_box{
  width: 95%;
  margin: 0 auto;

}

/* ----- <HEADER_TOP> ----- */
.header{
  width: 100%;

}
.header_top{
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;

}
/* ham_btn */
#head_chk{
  display: none;


}
.ham_chk {
  display: block;
  width: 80px;
  height: 50px;

  padding: 10px;
  box-sizing: border-box;

  margin-top: 100px;
  margin-left: 30px;

  transform: translateY(-50%);
}
.line {
  width: 100%;
  height: 3px;
  background-color:black;
  border-radius: 20%;

}
.line:nth-child(2) {
  margin: 10px 0;
}

.top {
  transition: top 0.5s 0.5s, transform 0.5s ;
  position: relative;
  top: 0;
}
#head_chk:checked ~ .ham_chk > .top {
  top: 13px;
  transform:  rotate(45deg);
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
.mid {
  transition: all 0s 0.5s;
}
#head_chk:checked ~ .ham_chk > .mid {

  opacity: 0;
  transition: all 0s 0.5s;
}

.bot {
  transition: top 0.5s  0.5s, transform 0.5s;
  position: relative;
  top: 0;
}
#head_chk:checked ~ .ham_chk > .bot {
  top: -13px;
  transform:  rotate(-45deg);
  transition: top 0.5s 0s, transform 0.5s 0.5s;
}
.nav {
  width: 450px;
  height: 1200px;
  padding: 10px 30px;

  background-color:#fff;
  transform: translateX(-100%);
  transition: transform 0.5s;
  margin-top:70px;
  overflow: hidden;

  position: relative;
  z-index: 999999;
}

#head_chk:checked ~ .nav {
  transform: translateX(0%);
 
}

/* nav < pan */
.indi_box{
  display: flex;

  align-items: center;
  gap: 20px;
}
.nav_indi{
  font-size: 22px;
  cursor: pointer;
}
.pan_box{
  padding: 50px 0;
 
}
.pan{
  padding-bottom: 50px;
  position: absolute;
  top: 100px;
  left: 100%;
}
.pan_women{
  left: 30px;
  transition: all 0.5s;
}
.pan_section{
  padding-bottom: 20px;
}

.pan_section > div{
  padding-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
}
.sec_title{
  font-weight: 700;
  font-size: 20px;
  padding: 5px 0;

}
.s_sale{
  color: hotpink;
}









/* LOGO */

.logo_img{
  position: absolute;
  top: 1px;
  left: 150px;
}
 svg{
  width: 300px;
  height: 200px;
}
/* SEARCH_BAR */
.head_list{
  display: flex;
  align-items: center;
}
.search{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 400px;
  height: 30px;

  border-bottom: 1px solid;

  position: absolute;
  top: 60px;
  left: 50%;
}

.search_btn{
  cursor: pointer;
  margin: 0;
}
.search_bar{
  width: 350px;
  height: 70%;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  padding: 0 10px;
  outline: none;
  background: transparent;

}

/* HEAD_MENU */

.head_menu{
  display: flex;
  justify-content: space-between;
  gap: 40px;

  font-size: 16px;

  position: absolute;
  top: 70px;
  right: 5%;
}



/* main_menu */


.main_box{
  margin: 100px auto;
    width: 50%;
    display: flex;
    gap: 150px;
}

.main_p_pic > img{
    width: 450px;
    box-shadow:0px 0px 6px 3px rgb(204, 203, 203); 
}

/* main_description */
.main_desc_box{
    margin-top: 40px;
    
}
.p_title{
    font-size: 20px;
    padding-bottom: 5px;
}
.p_price{
    font-size: 15px;
    padding-bottom: 60px;
}
.title_box{
    width: 300px;
  
}
.line_bot{
    width: 300px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.add_button{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid;
    font-size: 12px;
    margin: 70px auto 20px auto;

}
.buy_button{
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid;
    font-size: 12px;
    margin: 20px auto;

}
.detail_desc{
    
    width: 300px;
    height: 70px;
    margin: 70px auto;
    

    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    
}
.line_bot2{
    width: 300px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.more_info{
 margin-top: 40px;
 font-size: 10px;
 line-height: 2;
}

.add_button:hover{
  background-color: rgb(145, 144, 144);
  color: white;
}
.buy_button:hover{
  background-color: grey;
  color: white;
}

/* REVIEW PAGE */

.review{
  position: absolute;
  top: 35%;
  right: 28%;
}
.review_chk{
  display: none;

}
.review_page{
  width: 40%;
  height: 1000px;
  background-color: beige;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;
  transform: translateX(100%);
  transition: all 0.5s;
  
}

.review_page.active{
  transform: translateX(0%);
}








